.main {
  text-align: center;
}

.input {
  width: 10rem;
  height: 2rem;
  margin: 0.5rem;
  padding: 5px;
}
.form {
  margin: 2rem;
}

.textarea {
  margin: 1rem;
  padding: 5px;
  width: 20rem;
  height: 5rem;
}

.employment_field{
  margin: 1rem auto;
  text-align: left;
  width: fit-content;
  padding: 0.5rem;
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
